#local-time, #converted-time {
  font-size: 24;
  font-family: System-Regular;
  font-weight: bold;
}

#local-time-value, #converted-time-value {
  font-size: 32;
  font-family: System-Regular;
}

g {
  cursor: pointer;
}
