#local-time, #converted-time {
  font-size: 32;
  font-family: System-Regular;
  font-weight: bold;
}

#local-time-value, #converted-time-value {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
}

#background {
  width: 100%;
  height: 100%;
  fill: #8b2e5f;
}
